<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sobre</ion-title>
    <ion-img src="assets/logo02.jpg" slot="end" class="pages-logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <ion-img src="assets/logo02.jpg"  ></ion-img>

  <h2>Quem Somos</h2>
  <p><br>O Central da bola é um espaço para o debate envolvendo todos que admiram a história do futebol e o design gráfico presente nesse universo fabuloso!<br>

    <br>Aqui os fãs do futebol, formadores de opinião, profissionais e usuários dos canais Central da bola expressam seus pontos de vista e levam informações aos leitores sobre tudo o que acontece no mundo do futebol.<br></p>

</ion-content>
